

<div class="login-box">
    <h2>Login</h2>
    <div>
      <div class="user-box">
        <input type="text" [(ngModel)]="username" id="username" />
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password" [(ngModel)]="password" id="password" />
        <label>Password</label>
      </div>
      <button class="bubbly-button" (click)="loginGo()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </button>
      
    </div>
  </div>

  